
.post {
    background-color: #fff;
    padding: 10px;
    align-items: center;
    
    margin-top: 10px;
    border-radius: 10px;
}
.post .post__header {
    display: flex;
    flex: 1;
    align-items: center;   
    justify-content: space-between;
}
.post .post__header .post__headerLeft {
    display: flex;
    align-items: center;
}
.post .post__header .post__profile__details h3{
    font-size: 14px;
    margin: 0;
    margin-left: 10px;
}
.post .post__header .post__profile__details p {
    font-size: 12px;
    margin: 0;
    margin-left: 10px;
}
.post__body p {
font-size: 14px;
padding: 20px 0px;
}
.post__footer {
    display: flex;
    
    border-top: 1px solid #ccc;
    padding-top: 10px;
    margin-top: 10px;
}
.post__footer .post__footer__options {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-right: 30px;
}
.post__footer .post__footer__options svg {
    margin-right: 10px;
    color: #6e6767;
}
.post__footer .post__footer__options span {
    color: #656060;
    font-size: 12px;
}